{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>About CV Manager</h1>
            <p class="lead">Build professional, ATS-friendly CVs in minutes.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Features</h3>
            <ul>
                <li>Easy-to-use web interface</li>
                <li>Multiple CV templates</li>
                <li>ATS-friendly formatting</li>
                <li>PDF, HTML, and Markdown export</li>
                <li>Job description matching</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Free Forever</h3>
            <p>CV Manager is completely free to use. No credit card required.</p>
        </div>
    </div>
</div>
{% endblock %}
